version: 2
updates:
  - package-ecosystem: composer
    versioning-strategy: increase
    directories:
      - "/"
      - "/tools"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      dev-dependencies:
        dependency-type: development

  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
      day: friday
      time: "04:00"
    groups:
      docker-dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directories:
      - "/"
      - "/.github/workflows/actions/**/*"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly
      day: friday
      time: "04:00"
